/* General */
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

p {
  margin-bottom: 0;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.navbar {
  background-color: var(--orange);
  color: var(--white);
}

.navbar-brand {
  color: var(--white);
  font-family: "Lantinghei SC";
  font-size: 28px;
  font-weight: 700;
  margin-right: 56px;
}

.nav-link {
  color: var(--white);
  font-size: 24px;
  font-weight: 500;
  align-self: flex-end;
  margin-left: 34px;
  margin-right: 34px;
}

.nav-link.active {
  color: var(--white) !important;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .nav-link {
    align-self: center;
  }
}

/* Home Page */
.wacky-button {
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.wacky-button-text {
  color: var(--white);
  margin: "auto";
  text-decoration: "none";
}

.welcome-button {
  background-size: 300px;
  left: 100px;
  width: 300px;
  height: 120px;
  z-index: 2;
}

.welcome-button-text {
  font-family: "Lantinghei SC";
  font-size: 36px;
  font-weight: 700;
  margin-top: 15px;
}

.about-button {
  background-size: 200px;
  width: 200px;
  height: 120px;
}

.about-button-text {
  font-family: "Lemon";
  font-size: 24px;
  font-weight: 400;
  margin-top: 20px;
}

.portfolio-button {
  background-size: 200px;
  width: 200px;
  height: 120px;
}

.portfolio-button-text {
  font-family: "Marko One";
  font-size: 28px;
  font-weight: 400;
}

.home-title {
  color: var(--blue);
  font-family: "Lantinghei SC";
  font-size: 48px;
  font-weight: 700;
}

.home-subtitle {
  color: var(--orange);
  font-family: "Lantinghei SC";
  font-size: 24px;
  font-weight: 700;
}
/* About Page */
